@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"]:checked::after {
          content: '\2713'; /* Unicode for checkmark */
          color: white;
          font-size: 16px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }